

/* the css reset starts here*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* the css reset ends here */

/* the mobile view css codes starts here */

.background {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;

  background-color: rgb(224, 224, 224);
}

.combine {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-div {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-width: 280px;
  height: auto;
  border: 8px solid white;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 20px;

  position: relative;

  background-color: rgb(224, 224, 224);
}

.absolute-div {
  height: 20px;
  width: 170px;

  position: absolute;
  top: 0;
  left: 45px;
  background-color: white;
  border-radius: 0px 0px 15px 15px;
}

.first-div {
  display: flex;
  justify-content: center;
  align-items: end;

  height: 80px;
  border-radius: 21px 21px 5px 5px;

  background: linear-gradient(to right, rgb(128, 44, 217), rgb(226, 112, 226));
}

.profile-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  margin-bottom: 10px;
  padding: 0 10px;
}

.profile-mini-div {
  display: flex;
  align-items: center;
  
}

.arrow-icon-1 {
  height: 10px;
  margin-right: 5px;
}

.profile-image {
  height: 20px;
  border: 1.5px solid white;
  border-radius: 20px;
  margin-right: 5px;
}
.profile-div .profile-mini-div p {
  color: white;
  font-size: 1.1rem;
  text-transform: capitalize;
}
.profile-div .profile-mini-div p span {
  color: rgb(255, 226, 255);
  font-size: 1rem;
  text-transform: none;
}

.menu-icon {
  height: 10px;
}

.received-chat-div {
  display: flex;
  margin: 5px;
  max-width: 150px;
  padding: 5px;
  border-radius: 8px 8px 8px 3px;
  background-color: rgb(252, 243, 252);
}

.received-chat-div p {
  color: rgb(237, 92, 237);
  font-size: 0.8rem;
}

.dog-image-div {
  display: flex;
  justify-content: end;
  
}

.dog-image {
  width: 50px;
  border-radius: 7px;
  margin-right: 5px;
  margin-top: 5px;
}

.sent-chat-div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.sent-chat {
  display: flex;
  margin: 5px;
  max-width: 150px;
  padding: 5px;
  border-radius: 8px 8px 3px 8px;
  background-color: white;
  
}

.sent-chat p {
  color: gray;
  font-size: 0.8rem;
  
}

.time-money-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 180px;
  border-radius: 8px 8px 8px 3px;
  margin: 5px;
  padding: 5px;
  color: white;
  font-size: 1rem;

  background: linear-gradient(to left, rgb(80, 8, 158), rgb(214, 91, 214));
}

.time-money-mini-div {
  display: flex;
  color: rgb(255, 226, 255);
  font-size: 1rem;
}

.circle-div {
  width: 15px;
  height: 15px;
  border-radius: 30px;
  border: 1px solid rgb(227, 217, 217);
  margin-right: 10px;
}

.type-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 5px;
  height: 30px;
  border-radius: 15px;
  background-color: white;
}

.type-message p {
  padding-left: 20px;
  color: gray;
}

.arrow-icon-2 {
  height: 27px;
  margin-right: 3px;
}

.text-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 50px;
}

.text-div h2 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 20px;
}

.text-div p {
  text-align: center;
  font-size: 1rem;
  line-height: 1.7rem;
  max-width: 220px;
  color: gray;
  padding-bottom: 40px;
}

/* the mobile view css codes ends here */

/* the desktop view css (media query) codes starts here */

@media (orientation: landscape) {
  .background {
    align-items: center;
  }

  .combine {
    flex-direction: row;
    margin: 20px;
  }

  .text-div {
    align-items: start;
    margin-top: 0px;
    margin-left: 80px;
  }
  
  .text-div h2 {
    text-align: start;
    padding-bottom: 20px;
  }
  
  .text-div p {
    text-align: start;
    max-width: 310px;
    padding-bottom: 0px;
  }
  
  .mobile-div {
    margin-top: 0px;
  }

}

/* the desktop view css codes ends here */